altgraph==0.16.1
asgiref==3.2.3
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.2
chardet==3.0.4
Django==3.0.3
django-tinymce4-lite==1.7.5
EasyTkinter==1.1.0
idna==2.9
jsmin==2.2.2
macholib==1.11
PyInstaller==3.5
pytz==2020.1
requests==2.24.0
simplegui2pygamemodule==1.0.3
soupsieve==2.0.1
sqlparse==0.3.0
urllib3==1.25.9
